<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Это тестовая страница</title>
<link href="../templates/main.css" rel="stylesheet" type="text/css" />
<style type="text/css">

</style></head>

<body class="page" >
<table width="800" height="100%" border="0" class="table">
  <tr>
    <td width="368"><img src="../templates/cat.gif" width="368" height="368" /></td>
    <td width="420"><p>Новости:
	    <!--News/-->
	</p>
      <label></label>
      <table width="148" border="0" cellspacing="0" cellpadding="0" class="table_auth">
        <tr>
          <td width="144">авторизация</td>
        </tr>
        <tr>
          <td><form name="form1" method="post" action="">
              <label>
              логин:
			  <input type="text" name="login">
              </label>
			  <label>
              пароль:
              <input type="text" name="pass">
			  </label>
			  <input name="sbut" type="submit">
			  
          </form></td>
        </tr>
      </table>      
      <table width="148" border="0" cellspacing="0" cellpadding="0" class="table_auth">
        <tr>
          <td width="144">авторизация</td>
        </tr>
        <tr>
          <td><form name="form1" method="post" action="">
              <label>Здравствуйте Вася Пупкин!</label><BR>
              <label>Выйти:</label>
              <input name="sbut2" type="submit">
          </form></td>
        </tr>
      </table>
      <p>&nbsp;</p></td>
  </tr>
</table>
</body>
</html>
