<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>СИТМО</title>
<link type="text/css" rel="stylesheet" href="/files/main3.css" />
<script type="text/javascript" src="/files/fsmenu/fsmenu_commented.js"></script>
<link rel="stylesheet" type="text/css" href="/files/fsmenu/listmenu.css" id="listmenu-v" title="Vertical 'Office'" />
<noscript><link rel="stylesheet" type="text/css" href="/files/fsmenu/listmenu_fallback.css" /></noscript>
<script type="text/javascript" src="/files/fsmenu/fsmenu_conf.js"></script>
</head>
<body>
<div id="container">
  <div id="logo"><a href="index.htm"><img src="/images/logo.jpg" /></a></div>
  <div id="subnav">
    <div id="snbg1"></div>
    <div id="snbg2"></div>
	<div id="snbg3"></div>
  </div>
  <div id="topnav"> </div>
  <div id="search">
    <form name="search" id="form1" method="post" action="">
      <input name="search" type="text" value=" поиск ..." vspace="0" 
	  onclick="this.style.backgroundColor='#ffffff'; this.value=''" 
	  onblur="this.style.backgroundColor='#deeaf0'"/>
      <input name="" 
	  vspace="0" type="submit" value="" class="submitbutton" hspace="0"/>
    </form>
  </div>
  <div id="content">
    <!--meta_List_6/-->
  </div>
  <div id="footer">
    <div id="lfooter"><a href="#">главная</a> | <a href="#">поиск</a> | <a href="#">контакты</a></div>
    <div id="rfooter">Центр СИТМО, МИЭМ &copy; 2006</div>
  </div>
</div>
</body>
</html>
